{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="/admin">Accès backoffice</a><br />
    {% endif %}
    Bienvenue {{ app.user.firstname }} dans votre compte. <br />
    C'est dans cet espace que vous allez pouvoir gérer toutes vos information personnelles
    <hr />
    <div class="row text-center">
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_address') }}">Gérer mes adresses </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_order') }}">Mes commandes</a>
            </div>
        </div>
    </div>
    <hr />
{% endblock %}
