{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour !</h1>

    <p>Je suis très heureux de vous montrer ce site e-commerce réalisé avec PHP et Symfony</p>
    <hr>
    <p>Ce site à pour but de vous montrer mes capacités dans ce language et ce framework, pour vous convaincre de m'appeler et pourquoi pas parler d'une possibilité d'intégrer vos équipes en alternance</p>
    <hr>
    <p>Suite à cette année compliqué lié au Virus, l'Etat offre une prime de 8000€ aux entreprises prennant un alternant, ce qui vous ferai avoir un développeur motivé, aimant le travail en équipe, à l'écoute des besoins d'un client et d'un excellent gouteur de café, à moins de 200€ par mois</p>
    <hr>
    <p>Je vous laisse voir mon <a href="https://www.linkedin.com/in/edouard-plantevin/" target="_blank">Linkedin</a>, mais si vous souhaitez avec plus d'informations sur moi appelez moi au
        <a href="tel:+33771155656">07 71 15 56 56</a> ou contactez moi par mail <a href="mailto:plantevin.contact@gmail.com?subject=Contact%20depuis%20edouardplantevin.com">plantevin.contact@gmail.com</a> </p>
</div>
{% endblock %}
